<head>
    <meta charset="UTF-8">
    <meta name="viewport" content ="width-device-width, initial-scale=1">
    <title>서버기록</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
{% extends "record/base.html" %}
{% block title %}<center><h1>서버기록</h1></center>{% endblock %}

{% block content %}

<style>
    a:link {
    color : black;
    }
    a:visited {
    color : black;
    }
    a:hover {
    color : black;
    }
    a:active {
    color : black;
    }
    .card{
        position: relative;
        background-color: black;
        padding: 30px;
        margin:0px;
        color:black;
    }

</style>

<div class="card">
<br>
<center>
<table class="table table-striped table-hover" style="color:white">
    
    <thead>
        <tr>
            <th>topic</th>
            <th>value</th>
            <th>date</th>
            <th>time</th>
            <th>image</th>  
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{object.topic}}</a></td>
            <td>{{object.value}}</td>
            <td>{{object.date}}</td>
            <td>{{object.time}}</td>
            <td>
            <a href ="{% url 'detail' object.id %}" style="color:white">
                캡쳐
            </a>
            </td>
            
        </tr>
    
        {% endfor %}
    </tbody>  
</table>
    <a href ="{% url 'record' %}" style="color:white">
        전체
    </a>
    <a href ="{% url 'doorlock' %}" style="color:white">
        도어락
    </a>

    {% include "record/pagination.html" %}

</div>
</center>

{% endblock %}

